html {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    margin: 0px;
    color: #383838;
}

header {
    margin: 0px;
    padding: 15px 35px;
    background-color: #003580;
    color: white;
}

main {
    overflow: auto;
    margin: 20px 20px;
}

input[type="number"] {
    width: 30px;
}

.filtresCerca {
    background-color: #ffa43e;
    border-radius: 15px;
}

.filtresError {
    color: red;
}

.filtresCerca input, select {
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 2px;
}

.filtresCerca, .resultatCerca {
    float: left;
    margin: 10px;
    padding: 15px 25px;
}

.filtresCerca label, p, ul {
    margin: 10px 0px 0px;
}

.filtresCerca ul {
    list-style: none;
    padding-left: 0px;
    margin-left: 15px;
}

.filtresCerca #cercaBtn {
    margin-top: 15px;
    float: right;
    color: white;
    border-radius: 10px;
    border: none;
    background-color: #383838;
    width: 95px;
    height: 35px;
    font-size: 15px;
}

.resultatCerca {
    /* fer que ocupi la resta d'espai */
    /* Solució: https://stackoverflow.com/questions/1260122/expand-a-div-to-fill-the-remaining-width */
    float: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.resultatCerca .resultatHabitacions {
    flex: 1 1 0px;
}

.resultatCerca .resultatHabitacions .resultatHabitacio {
    margin: 0px 5px 20px;
    padding: 5px 0px;
    overflow: hidden;
}

.resultatCerca .resultatHabitacions .resultatHabitacio .infoHab {
    padding: 0px 10px;
}

.resultatCerca .resultatHabitacions .resultatHabitacio .infoHab #titolHotel {
    display: inline;
}

.resultatCerca .resultatHabitacions .resultatHabitacio .infoHab #estrellesHotel {
    display: inline;
    margin-left: 5px;
}

.resultatCerca .resultatHabitacions .resultatHabitacio .seleccionarHab {
    float: right;
    margin-top: 10px;
    padding: 0px;
}

.resultatCerca .resultatHabitacions .resultatHabitacio .seleccionarHab p {
    display: inline;
    padding-right: 5px;
    border-right: 1.5px solid #383838;
}

.resultatCerca .resultatHabitacions .resultatHabitacio hr {
    margin-top: 45px;
    width: 95%;
    color: #d8d8d8;
}

.resultatPreu {
    flex: 1 1 0px;
    display: block;
    padding: 5px;
    margin: 5px 0px;
    float: left;
    max-width: 200px;
    font-size: 18px;
}

.resultatPreu input {
    width: 50px;
    font-size: 15px;
}
